* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(102, 8, 86);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

nav ul li a:hover {
    color: rgb(99, 153, 201);
    font-size: 1.01rem;
}
.left img {
    height: 85px;
}

.social ul li {
    margin: 5px;
    padding: 4px;
}

.container {
    background-color: rgba(54, 207, 49, 0.644);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}


.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
    overflow: hidden;
}
.container .box-container .box img{
    height: 80px;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box h3{
    color: #444;
    font-size: 15px;
    padding: 10px 0;
}
.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}
.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}
@media (max-width:768){
    .container{
        padding:20px
    }
}

.box .extra-info {
    display: none; /* Hide the additional information by default */
  }
  
  .box.expanded .extra-info {
    display: block; /* Show the additional information when expanded */
    text-align: justify;
  }
  

  footer {
    background: #000000;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
.containers {
    max-width: 1400px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}


.row {
    display: flex;
    align-items: Center;
    flex-wrap: wrap;
    justify-content: space-around;


}
.footer-col-1 h3, .footer-col-3 h3, .footer-col-4 h3{
   
    margin-bottom: 15px;

}

.footer-col-4 ul, .footer-col-3 ul{
    list-style: none;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

.footer-col-4 ul li, .footer-col-3 ul li{
    padding: 1px 0;
}
.footer-col-4 ul li a{
    text-decoration: none;
    color: #fff;
}



.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}
